.zagl th {
   font-size: 70px;
}   
 .menu {
 text-align: center;
}      
.menu li {
 list-style-type: none;
 display: inline-table;
 WIdth: 20%
}  
.zagl {
   font-size: 15px;
   color: royalblue;
} 
      
