.zagl th {
   font-size: 70px;
}   
 .menu {
 text-align: center;
}      
.menu li {
 list-style-type: none;
 display: inline-table;
 WIdth: 20%
}  
.text {
   font-size: 20px;
   color: DarkBlue;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
.text2 {
   font-size: 20px;
   color: Indigo;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

   

   
      
